In [ ]:
Date: 06/05/2025

- under the EDA

    - Data Analysis

        - Quick Sets

        - How to select columns and data

        - understood difference between df vs series vs values

        - frequency tables

        - bar charts

        - pie charts

        - histograms

        - distribution plots

        - outliers

        - deal with outliers

        - bi variate analysis

        - multivariate analysis

        - scatter plots

        - corelation

        - heatmaps

encoding = converting words to numbers say male/female

embedding = coverting sentence to number format

    - Feature Engineering

        - Encoding

        - Scaling

        - Transformations

    - Feature Selection (How to Select important features)

# Encoding

- convert cat data to num data

- ML algorithm developed by maths

- Maths needs numbers

- It is very important to convert categorical data to numerical

      - map

      - np.where

      - LabelEncoder

      - OneHotEncoder

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
visa_df = pd.read_csv(r"C:\Users\Acer\OneDrive\Data Science\Data Analysis\Numpy\Visadataset.csv")
cat = visa_df.select_dtypes(include = 'object').columns
num = visa_df.select_dtypes(exclude = 'object').columns

# map method

In [4]:
visa_df['case_status'].unique()

array(['Denied', 'Certified'], dtype=object)

In [5]:
dict1 = { 'Certified':0,'Denied':1}
dict1

{'Certified': 0, 'Denied': 1}

In [9]:
visa_df['case_status'] = visa_df['case_status'].map(dict1)

In [10]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,case_status_map
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,1,1
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,0,0
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,1,1
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,1,1
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,0,0
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,0,0
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,0,0
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,0,0
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,0,0

In [16]:
labels = visa_df['continent'].unique()
d = {}
for i in range(len(labels)):
    d[labels[i]] = i
d

{'Asia': 0,
 'Africa': 1,
 'North America': 2,
 'Europe': 3,
 'South America': 4,
 'Oceania': 5}

In [20]:
labels = visa_df['continent'].unique()
count = visa_df['continent'].nunique()
d = {labels[i]:i for i in range(len(labels))}
visa_df['continent'] = visa_df['continent'].map(d)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,0,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,0,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,0,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,0,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,1,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,0,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,0,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,0,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,0,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,0,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [27]:
for i in cat[1:]:
    labels = visa_df[i].unique()
    d = {labels[i]:i for i in range(len(labels))}
    visa_df[i] = visa_df[i].map(d)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,0,0,0,0,14513,2007,0,592.2029,0,0,0
1,EZYV02,0,1,1,0,2412,2002,1,83425.6500,1,0,1
2,EZYV03,0,2,0,1,44444,2008,0,122996.8600,1,0,0
3,EZYV04,0,2,0,0,98,1897,0,83434.0300,1,0,0
4,EZYV05,1,1,1,0,1082,2005,2,149907.3900,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,0,2,1,1,2601,2008,2,77092.5700,1,0,1
25476,EZYV25477,0,0,1,0,3274,2006,1,279174.7900,1,0,1
25477,EZYV25478,0,1,1,0,1121,1910,2,146298.8500,1,1,1
25478,EZYV25479,0,1,1,1,1918,1887,0,86154.7700,1,0,1
25479,EZYV25480,0,2,1,0,3195,1960,3,70876.9100,1,0,1

# Label Encoder

In [5]:
# Step-1: import the package
from sklearn.preprocessing import LabelEncoder
# Step-2: Save the package
le = LabelEncoder()
# Step-3: fit and fit_transform
    # fit means finding some values 
    # transform means : transform apply those values
visa_df['case_status']=le.fit_transform(visa_df['case_status'])
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,1
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,0
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,1
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,1
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,0
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,0
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,0
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,0
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,0

In [1]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in cat[1:]:
    visa_df[i] = le.fit_transform(visa_df[i])
visa_df

NameError: name 'cat' is not defined

# One hot Encoder

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
visa_df = pd.read_csv(r"C:\Users\Acer\OneDrive\Data Science\Data Analysis\Numpy\Visadataset.csv")
cat = visa_df.select_dtypes(include = 'object').columns
num = visa_df.select_dtypes(exclude = 'object').columns
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

# pd.get_dummies

In [15]:
pd.get_dummies(visa_df)

,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,...,case_id_EZYV9990,case_id_EZYV9991,case_id_EZYV9992,case_id_EZYV9993,case_id_EZYV9994,case_id_EZYV9995,case_id_EZYV9996,case_id_EZYV9997,case_id_EZYV9998,case_id_EZYV9999
0,1,2,0,0,14513,2007,4,592.2029,0,1,...,False,False,False,False,False,False,False,False,False,False
1,1,3,1,0,2412,2002,2,83425.6500,3,1,...,False,False,False,False,False,False,False,False,False,False
2,1,0,0,1,44444,2008,4,122996.8600,3,1,...,False,False,False,False,False,False,False,False,False,False
3,1,0,0,0,98,1897,4,83434.0300,3,1,...,False,False,False,False,False,False,False,False,False,False
4,0,3,1,0,1082,2005,3,149907.3900,3,1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,1,0,1,1,2601,2008,3,77092.5700,3,1,...,False,False,False,False,False,False,False,False,False,False
25476,1,2,1,0,3274,2006,2,279174.7900,3,1,...,False,False,False,False,False,False,False,False,False,False
25477,1,3,1,0,1121,1910,3,146298.8500,3,0,...,False,False,False,False,False,False,False,False,False,False
25478,1,3,1,1,1918,1887,4,86154.7700,3,1,...,False,False,False,False,False,False,False,False,False,False
25479,1,0,1,0,3195,1960,1,70876.9100,3,1,...,False,False,False,False,False,False,False,False,False,False

In [18]:
cols = cat[1:]
visa_df1 = pd.get_dummies(visa_df,
                          columns = cols,
                          dtype=int)
visa_df1

,case_id,no_of_employees,yr_of_estab,prevailing_wage,continent_0,continent_1,continent_2,continent_3,continent_4,continent_5,...,region_of_employment_3,region_of_employment_4,unit_of_wage_0,unit_of_wage_1,unit_of_wage_2,unit_of_wage_3,full_time_position_0,full_time_position_1,case_status_0,case_status_1
0,EZYV01,14513,2007,592.2029,0,1,0,0,0,0,...,0,1,1,0,0,0,0,1,0,1
1,EZYV02,2412,2002,83425.6500,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
2,EZYV03,44444,2008,122996.8600,0,1,0,0,0,0,...,0,1,0,0,0,1,0,1,0,1
3,EZYV04,98,1897,83434.0300,0,1,0,0,0,0,...,0,1,0,0,0,1,0,1,0,1
4,EZYV05,1082,2005,149907.3900,1,0,0,0,0,0,...,1,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,2601,2008,77092.5700,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,1,0
25476,EZYV25477,3274,2006,279174.7900,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
25477,EZYV25478,1121,1910,146298.8500,0,1,0,0,0,0,...,1,0,0,0,0,1,1,0,1,0
25478,EZYV25479,1918,1887,86154.7700,0,1,0,0,0,0,...,0,1,0,0,0,1,0,1,1,0
25479,EZYV25480,3195,1960,70876.9100,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0

In [ ]:
# explore: np.where
# explore : OneHotEncoder